/*Untility*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Roboto:wght@400;700;900&display=swap');

:root {
    --bg: #323232;
    --font: #ffffff;
}

* {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#wrapper,
header,
form {
    display: flex;
}

/*Main body*/

body {
    background: var(--bg);
    color: var(--font);
}

#wrapper {
    margin: auto;
    flex-direction: column;
    align-content: center;
    padding: 1rem;
}

/*Header*/

header {
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
}

h1,
h2 {
    font-size: 1.5rem;
}

h1 {
    background: var(--font);
    color: #333333;
    padding: 0 0.5rem;
}

.syn-header {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

hr {
    margin-bottom: 1rem;
}

/*Synonym output*/

.synonyms {
    text-align: center;
    line-height: 1.6rem;
    margin-bottom: 2rem;
}

/*Input field*/

.input {
    min-width: 70%;
    max-width: 70%;
    border: 1px solid #d5d5d5;
    background: var(--bg);
    border-radius: 8px;
    padding-left: 1rem;
    line-height: 1.4rem;
    color: var(--font);
}

form {
    justify-content: space-between;
}

.btn {
    border: 1px solid var(--bg);
    padding: 0.3rem;
    border-radius: 8px;
}

.btn:hover {
    border: 1px solid var(--font);
    background: var(--bg);
    color: var(--font);
}

@media only screen and (min-width: 600px) {

    /*Body*/

    #wrapper {
        width: 30%;
    }

    /*Header */

    h1,
    h2 {
        font-size: 2rem;
    }

    .syn-header {
        margin-top: 1.5rem;
    }

    hr {
        margin-bottom: 1.5rem;
    }
}





